#dashbordText{
    color: red;
    font-size: 2rem;
    font-family: cursive;
    margin-left: 5%;
    letter-spacing: 3px;
}
#navbar{
    background-color: #4d3bbd;
    
}

#text{
    color: #CCF381;
}
#text a{
    color: #CCF389;
}